$dark: #515d8a !default;
$primary: #515d8a !default;
$secondary: #e5e56b !default;
$aml-primary: #515d8a !default;
$aml-secondary: #e5e56b !default;
$sidebar-active-background: #e5e56b !default;
$sidebar-active-color: #515d8a !default;