<div class="card border-0 shadow mb-4">
    <div class="card-header p-1 bg-primary text-white {% if not person.organisation_people_history.exists %}card-header-empty-section{% endif %}">
        <div class="row align-items-center">

            <div class="col">
                <h2 class="fs-6 ps-2 fw-bold mb-0">Previous Positions</h2>
            </div>

        </div>
    </div>
    {% if person.organisation_people_history.exists %}
    <div class="{{ person.operational_status.text_color }}">

        <div id="person_previous_positions_list" class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_compact_div">
            <div class="table-responsive ajax-datatable-container pt-0">
                <table id="person_previous_positions_list_datatable" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto_compact"
                    data-datatable-url="{% url 'admin:person_prev_positions_ajax' person.pk %}">
                </table>
            </div>
        </div>

    </div>
    {% endif %}
</div>
