<div class="card border-0 shadow mb-4">
  <div
    class="card-header p-1 bg-primary text-white {% if not has_associated_fees %}card-header-empty-section{% endif %}">
    <div class="row align-items-center">

      <div class="col">
        <h2 class="fs-6 ps-2 fw-bold mb-0">Associated Fees</h2>
      </div>

      <div class="col text-end">
        <a class="btn btn-sm btn-link p-0 pe-1 card-header-text-action-button
           {% if not perms.pricing.p_create %} disabled {% endif %}"
           href="{% url 'admin:agreement_supplier_fee_create' agreement.pk %}">
          Add Fees</a>
      </div>

    </div>
  </div>

  {% if has_associated_fees %}
    <div id="agreement_associated_fees_list" class="card {{ metacontext.page_css_class }} compact_datatable
            datatable_auto_div">
      <div class="table-responsive ajax-datatable-container pt-0">
        <table id="agreement_associated_fees_list_datatable" width="100%" class="table table-flush table-hover
                ajax-datatable align-middle nowrap datatable_auto"
               data-datatable-uri="{% url 'admin:agreement_associated_fees' agreement.pk %}">
        </table>
      </div>
    </div>
  {% endif %}
</div>
<script language="javascript">
  var agreement_associated_fees_list_datatable_uri = "{% url 'admin:agreement_associated_fees' agreement.pk %}"
</script>
