{% load static %}
{% load filters %}

<div id="child_list{{object.pk}}" class="{{ metacontext.page_css_class }} datatable-clickable compact_datatable datatable_auto_compact_div ">
    <div class="table-responsive ajax-datatable-container pt-0">
        <table id="child_list_datatable{{object.pk}}" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_embed datatable_auto_compact"
            data-datatable-url="{% url 'admin:organisation_childs_ajax' object.pk %}" data-level="1">
        </table>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="{% static 'js/datatables_organisations_embed.js' %}"></script>
