{% extends "layouts/base-fullscreen.html" %}
{% load i18n static %}

{% block title %} DoD Flight Servicing Portal {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <!-- Section -->
        <section class="vh-100 bg-soft d-flex align-items-center bg-primary">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light py-4 px-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-2 mt-md-0">
                                <h1 class="mb-0 h3">
                                    <center>
                                        <img src="{% static 'assets/img/dod/United_States_Department_of_Defense_Seal_300.png' %}"
                                        alt="Logo" width="100px">
                                    </center>
                                    <div class="mt-2">
                                        DoD Flight Servicing Portal
                                    </div>
                                </h1>
                                <br />
                            </div>
                            <form method="post" action="" class="mt-2">

                                {% csrf_token %}
                                <div class="form-group">
                                {% if form.username %}
                            <div class="form-group mb-4">
                                <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="{{form.username.id}}"><span class="fas fa-user text-gray-600"></span></span>
                                    {{ form.username }}
                                </div>
                            </div>
                            {% endif %}

                            {% if form.password %}
                            <div class="form-group mb-4">
                                <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="{{form.password.id}}"><span class="fas fa-lock text-gray-600"></span></span>
                                    {{ form.password }}
                                </div>
                            </div>
                            {% endif %}

                            {{ form.non_field_errors }}
                            <div class="d-grid">
                                <button type="submit" class="btn btn btn-primary">{% trans "Login" %}</button>
                            </div>

                            </form>
                            <br />
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    <a href="https://www.amlglobal.net/">AML Global Limited</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
