{% extends "layouts/base-fullscreen.html" %}
{% load i18n %}

{% block title %} DoD Flight Servicing Portal {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Section -->
<section class="vh-100 bg-soft d-flex align-items-center bg-primary">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">
                            DoD Flight Servicing Portal
                        </h1>
                    </div>
                    <center>Your account is ready to use.</center>
                    <br>
                    <div class="d-grid">
                        <a class="btn btn btn-primary" href="{% url 'dod:login' %}">Proceed to login page</a>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <span class="fw-normal">
                            <a href="https://www.amlglobal.net/">AML Global Limited</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
