{% with entity.crm_activity_log.exists as crm_activity_log_exists %}
  <div class="card border-0 shadow mb-4">
    <div
      class="card-header p-1 bg-primary text-white {% if not crm_activity_log_exists %}card-header-empty-section{% endif %}">
      <div class="row align-items-center">

        <div class="col">
          <h2 class="fs-6 ps-2 fw-bold mb-0">CRM Activity</h2>
        </div>

        <div class="col text-end">
          <button class="modal_button_validation bs-modal btn btn-sm btn-link p-0 pe-1 card-header-text-action-button"
                  type="button" name="button"
                  data-form-url="{% url 'admin:crm_activity_add' entity_slug entity.pk %}"
                  data-modal="#modal-lg"
            {% if not perms.core.p_contacts_update %} disabled {% endif %}>Add Activity
          </button>
        </div>

      </div>
    </div>
    {% if crm_activity_log_exists %}
      <div class="{{ organisation.operational_status.text_color }}">

        <div id="crm_activity_list"
             class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_compact_div">
          <div class="table-responsive ajax-datatable-container pt-0">
            <table id="crm_activity_list_datatable"
                   class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto_compact"
                   data-datatable-url="{% url 'admin:crm_activity_ajax' entity_slug entity.pk %}">
            </table>
          </div>
        </div>

      </div>
    {% endif %}
  </div>
{% endwith %}
