<div class="col-12 col-xl-12">
    <div class="card border-0 shadow mb-4">
        <div class="card-header p-1 bg-primary text-white">
            <div class="row align-items-center">

                <div class="col">
                    <h2 class="fs-6 ps-2 fw-bold mb-0">Non-Airport Location Map</h2>
                </div>

            </div>
        </div>
        <div class="row {{ organisation.operational_status.text_color }}">
            <div class="col">
                <div id="nasdl_map" style="height: 350px;border: none;"></div>
            </div>

        </div>
    </div>

</div>
