    <div class="col-12 col-xl-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-header p-1 bg-primary text-white">
                <div class="row align-items-center">

                    <div class="col">
                        <h2 class="fs-6 ps-2 fw-bold mb-0">Non-Airport Location Details</h2>
                    </div>

                </div>
            </div>
            <div class="row {{ organisation.operational_status.text_color }}">
                <div class="col">
                    <div class="row">

                        <div class="col-5 pt-2 ps-4 mb-2">
                            <table class="borderless">
                                <tbody>
                                    <tr>
                                        <td class="pe-3">Type:</td>
                                        <td><span class="fw-bold">{{ organisation.nasdl_details.type.description|default:'' }}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="pe-3">What3Words Code:</td>
                                        <td><span class="fw-bold">{{ organisation.nasdl_details.what3words_code|default:'' }}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="pe-3">Uses Address for Location?:</td>
                                        <td><span class="fw-bold">{{ organisation.nasdl_details.use_address|yesno|capfirst }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-5 pt-2">
                            <table class="borderless">
                                <tbody>
                                    <tr>
                                        <td class="pe-3">Latitude:</td>
                                        <td><span class="fw-bold">{{ organisation.nasdl_details.latitude|default:'' }}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="">Longitude:</td>
                                        <td><span class="fw-bold">{{ organisation.nasdl_details.longitude|default:'' }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
