<div class="card border-0 shadow mb-4">
    <div class="card-header p-1 bg-primary text-white {% if not False %}card-header-empty-section{% endif %}">
        <div class="row align-items-center">

            <div class="col">
                <h2 class="fs-6 ps-2 fw-bold mb-0">Fuel Supplier Contracts</h2>
            </div>

        </div>
    </div>
    {% if False %}
    <div class="card-body pt-3 {{ organisation.operational_status.text_color }}">
        <center>Content</center>

        <span class="mb-3"></span>
    </div>
    {% endif %}
</div>
