<div class="card border-0 shadow mb-4">
    <div class="card-header p-1 bg-primary text-white {% if not organisation.service_provider_locations.exists %}card-header-empty-section{% endif %}">
        <div class="row align-items-center">

            <div class="col">
                <h2 class="fs-6 ps-2 fw-bold mb-0">Service Provider Locations</h2>
            </div>

        </div>
    </div>
    {% if organisation.service_provider_locations.exists %}
    <div class="{{ organisation.operational_status.text_color }}">

        <div id="ipa_locations_list" class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_compact_div">
            <div class="table-responsive ajax-datatable-container pt-0">
                <table id="ipa_locations_list_datatable" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto_compact"
                    data-datatable-url="{% url 'admin:service_provider_locations' organisation.pk %}">
                </table>
            </div>
        </div>

    </div>
    {% endif %}
</div>
