*.pyo
*.mo
*.db
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
docs
env
logs
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
docker-compose*
*.sqlite3
.dev/
dev.*
