.green_backlog_badge {
    background-color: #c3e6cb;
    color: black;
}

.yellow_backlog_badge {
    background-color: #e5e56b !important;
    color: #1F2937 !important;
}

.red_backlog_badge {
    background-color: #dc3545;
    color: white;
}

.purple_backlog_badge {
    background-color: #a30fd3;
    color: white;
}


small {
    display: inline-block;
}
