{% load static %}
{{form.media.css }}

<form id="handling_request_reinstate" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title"><i class="fas {{ metacontext.icon }}"></i> {% autoescape off %}{{ metacontext.title }}{% endautoescape %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    {% if metacontext.text %}
    {% autoescape off %}
    <p>{{ metacontext.text }}</p>
    {% endautoescape %}
    {% endif %}

    <div class="row">
        <div class="col-md-6 mb-3">
            {% include 'includes/_form_field.html' with field=form.arrival_date %}
        </div>
        <div class="col-md-6 mb-3">
            {% include 'includes/_form_field.html' with field=form.arrival_time %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {% include 'includes/_form_field.html' with field=form.departure_date %}
        </div>
        <div class="col-md-6 mb-3">
            {% include 'includes/_form_field.html' with field=form.departure_time %}
        </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn {{ metacontext.cancel_button_class|default:'btn-gray-200' }}" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="submit-btn btn {{ metacontext.action_button_class|default:'btn-secondary' }}">{% if metacontext.action_button_text %}{{ metacontext.action_button_text }}{% else %}Save{% endif %}</button>
  </div>

</form>

{{form.media.js }}
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/global.js' %}"></script>