{% extends "email/base.html" %}
{% autoescape on %}
  {% block content %}
    <p>Dear Military Team,</p>

    <p>
      Ground Handler <b>{{ handling_request.handling_agent.full_repr }}</b> submitted signed SPF Document on
      S&F Request for <b>{{ handling_request.callsign }}</b> at <b>{{ handling_request.location_tiny_repr }}</b>.
    </p>

    <div style="text-align: center;">
      <a href="http://{{ domain }}{{ handling_request_url }}" target="_blank">
        <button class="button">Servicing & Fueling Request Details</button>
      </a>
    </div>

  {% endblock content %}
{% endautoescape %}

{% block under_footer %}
  {% include 'email/sfr_footer_reference.html' with handling_request=handling_request %}
{% endblock under_footer %}
