<!-- CONTACT BEGIN -->
<h4 id="contact" class="mb-3 amlheader offset">Contact Us</h4>


<div class="row no-gutters d-flex mb-4 aml-form">

  <div class="col-md-12 text-dark py-4 px-4">
    <div class="row">
      <div class="col">
        <h4 class="mb-0">Email</h4>
        <a class="text-dark d-block" href="mailto:fuelteam@amlglobal.net">fuelteam@amlglobal.net</a>
        <a class="text-dark d-block" href="mailto:accounts-team@amlglobal.net">accounts-team@amlglobal.net</a>
        <a class="text-dark d-block" href="mailto:info@amlglobal.net">info@amlglobal.net</a>
      </div>
      <div class="col">

        <h4 class="mb-0">Telephone (Main Switchboard)</h4>
        <table>
          <tbody>
          <tr>
            <td style="width: 60px;">Asia:</td>
            <td><a class="text-dark aml-contact-phones" href="tel:+6567976225">+65 67976225</a></td>
          </tr>
          <tr>
            <td>Europe:</td>
            <td><a class="text-dark aml-contact-phones" href="tel:+3728807577">+372 8807577</a></td>
          </tr>
          <tr>
            <td>USA:</td>
            <td><a class="text-dark aml-contact-phones" href="tel:+17138931116">+1 713 893 1116</a></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h4 class="mt-3">US DoD/AIR Card</h4>
        <table>
          <tbody>
          <tr>
            <td style="width: 55px">Tel:</td>
            <td><a class="text-dark aml-contact-phones" href="tel:+17862201154">+1 786 220 1154</a></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a class="text-dark d-block" href="mailto:ops@amlglobal.net">ops@amlglobal.net</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h4 class="mt-3">Correspondence Address</h4>
        <span>AML Global Limited<br>1 Raffles Place<br>Level 19-61, Tower 2<br>Singapore 048616</span>
      </div>
    </div>

    <h4 class="mb-1">Messenger</h4>
    <div class="row p-2">
      <div class="col">
        <a class="btn btn-light border aml-messenger-button text-left ml-2" href="https://wa.me/66646450475">
          <img src="/static/frontpage/img/whatsapp.png" alt="WhatsApp"> Message us on WhatsApp</a>
      </div>
      <div class="col">
        <a class="btn btn-light border aml-messenger-button text-left ml-2 mb-1" href="https://t.me/amlglobal_bot">
          <img src="/static/frontpage/img/telegram.png" alt="WhatsApp"> Message us on Telegram</a>
      </div>
      <div class="col">
        <a class="btn btn-light border aml-messenger-button text-left ml-2" href="https://line.me/R/ti/p/@162ojffj">
          <img src="/static/frontpage/img/line_logo_24.png" alt="Line"> Message us on Line</a>
      </div>
    </div>

  </div>
</div>
<!-- CONTACT END-->
