{% load static %}
{{ form.media.css }}

<form id="{{ metacontext.form_id }}" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title"><i class="fas {{ metacontext.icon }}"></i>
      {% autoescape off %}{{ metacontext.title }}{% endautoescape %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    {% if metacontext.text %}
      {% autoescape off %}
        <p>{{ metacontext.text }}</p>
      {% endautoescape %}
    {% endif %}

    <div class="row mb-3">
      <div class="col-12">
        {% include 'includes/_form_field.html' with field=form.end_date %}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 text-start">
        {% include 'includes/_form_field.html' with field=form.valid_ufn %}
      </div>
    </div>

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger d-flex align-items-center is-invalid" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            <div>
                {{ error|safe }}
            </div>
        </div>
    {% endfor %}

  </div>

  <div class="modal-footer">
    <button type="button" class="btn {{ metacontext.cancel_button_class|default:'btn-gray-200' }}"
            data-bs-dismiss="modal">Close
    </button>
    <button type="submit" form="{{ metacontext.form_id }}" class="submit-btn btn {{ metacontext.action_button_class|default:'btn-secondary' }}">
      {% if metacontext.action_button_text %}{{ metacontext.action_button_text }}{% else %}Save{% endif %}</button>
  </div>

</form>

{{ form.media.js }}
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/global.js' %}"></script>

<script type="text/javascript">
  function valid_ufn_trigger(e) {
    let valid_ufn_checked = $("#id_valid_ufn").is(':checked')

    if (valid_ufn_checked) {
      $("#id_end_date").val(null).trigger('change')
      $("#id_end_date").attr('disabled', true)
      $("#id_end_date").attr('required', false)
    } else {
      $("#id_end_date").attr('disabled', false)
      $("#id_end_date").attr('required', true)
    }
  }

  $("#id_valid_ufn").change(function () {
    valid_ufn_trigger()
  });

  valid_ufn_trigger();
</script>
