{% load static %}
{{ form.media.css }}

<style>
  .crew_member_col {
    width: 190px !important;
  }

  .position_options_col {
    width: 150px !important;
    white-space: normal !important;
  }
</style>

<form id="{{ metacontext.form_id }}" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title"><i class="fas {{ metacontext.icon }}"></i>
      {% autoescape off %}{{ metacontext.title }}{% endautoescape %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    {% if metacontext.text %}
      {% autoescape off %}
        <p>{{ metacontext.text }}</p>
      {% endautoescape %}
    {% endif %}


    <div id='handling_request_crew'>
      {{ form.management_form }}
      {{ form.non_field_errors }}
      {% for error in form.non_form_errors %}
        <div class="alert alert-danger d-flex align-items-center is-invalid" role="alert">
          <i class="fas fa-exclamation-triangle"></i>
          <div>
            {{ error }}
          </div>
        </div>
      {% endfor %}

      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 text-center crew_member_col" rowspan="2">Crew Member</th>
            <th class="border-0 text-center crew_member_col" rowspan="2">Position</th>
            <th class="border-0 text-center position_options_col" rowspan="2">Can Update Mission?</th>
            <th class="border-0 text-center position_options_col" rowspan="2">Primary Contact</th>
            <th class="border-0 text-center position_options_col" rowspan="2">Travel Document</th>
            <th class="border-0 text-center" colspan="{{ mission.legs.count }}">Operational Flight Legs</th>
            <th class="border-0" rowspan="2"></th>
          </tr>
          <tr>
            {% for mission_leg in mission.legs.all %}
              <th class="border-0 text-center">{{ mission_leg.sequence_id }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for form in form %}
            {{ form.management_form }}
            {{ form.non_field_errors }}
            {{ form.non_form_errors }}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <tr id="id_{{ form.prefix }}_card"
                class="formset_row{% if forloop.counter > 8 and not form.person.value %} d-none{% endif %}">
              <td class="border-0 w-50 p-1 crew_member_col">
                <div class="crew_member_col">
                  {{ form.person }}
                  {% if form.person.errors %}
                    {% for error in form.person.errors %}
                      <div class="invalid-feedback">
                        {{ error|safe }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </td>
              <td class="border-0 w-50 p-1 crew_member_col">
                <div class="crew_member_col">
                  {{ form.position }}
                </div>
              </td>
              <td class="border-0 w-50 text-center position_options_col">
                                <span class="align-middle">
                                    {{ form.can_update_mission }}
                                </span>
              </td>
              <td class="border-0 w-50 text-center position_options_col">
                                <span class="align-middle">
                                    {{ form.is_primary_contact }}
                                </span>
              </td>
              <td class="border-0 w-50 text-center status-light-cell position_options_col">
                {% if form.instance.person %}
                  {{ form.instance.person.travel_document_status_light|safe }}
                  {{ form.instance.person.current_travel_document.get_files_download_icons|safe }}
                {% endif %}
              </td>
              {% for checkbox in form.legs %}
                <td class="border-0 w-50 text-center position_options_col">
                  <label class="form-check-label">
                    {{ checkbox.tag }}
                  </label>
                  {% if form.legs.errors %}
                    {% for error in form.legs.errors %}
                      <div class="invalid-feedback d-block">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </td>
              {% endfor %}
              <td class="border-0 p-1">
                <span class="d-none">{{ form.DELETE }}</span>
                <button data-form-pre="{{ form.prefix }}"
                        class="btn btn-sm btn-outline-danger formset_row_del_btn" type="button">Remove
                </button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mt-2">
        <button id="formset_row_add_btn" data-add-by="1" type="button" class="btn btn-outline-success">Add
          Person
        </button>
      </div>
      <div class="row">
        <div class="col mb-3"></div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn {{ metacontext.cancel_button_class|default:'btn-gray-200' }}"
            data-bs-dismiss="modal">Close
    </button>
    <button type="submit"
            class="submit-btn btn {{ metacontext.action_button_class|default:'btn-secondary' }}">Update Assigned
      Crew
    </button>
  </div>

</form>

{% if request.app_mode == 'ops_portal' %}
  <script type="text/javascript" charset="utf8">
    person_travel_document_status_url = "{% url 'admin:person_travel_document_status' 0 %}"
  </script>
{% elif request.app_mode == 'dod_portal' %}
  <script type="text/javascript" charset="utf8">
    person_travel_document_status_url = "{% url 'dod:person_travel_document_status' 0 %}"
  </script>
{% endif %}

{{ form.media.js }}
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/select2_modal_formset.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/global.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/handling_request_crew.js' %}"></script>
