{% load static %}
{% load filters %}

<div id="{{table_name}}_child_list_{{object.pk}}" class="{{ metacontext.page_css_class }} datatable-clickable compact_datatable datatable_auto_compact_div ">
    <div class="table-responsive ajax-datatable-container pt-0">
        <table id="{{table_name}}_child_list_datatable_{{object.pk}}" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_embed datatable_auto_compact sub-table"
            data-datatable-url="{{ table_url }}" data-level="1">
        </table>
    </div>
</div>

{% for script in js_scripts %}
  <script type="text/javascript" charset="utf8" src="{{ script }}"></script>
{% endfor %}
