{% load static %}
{% load filters %}

<div id="fuel_fee_child_list_{{object.pk}}" class="{{ metacontext.page_css_class }} datatable-clickable compact_datatable datatable_auto_compact_div ">
    <div class="table-responsive ajax-datatable-container pt-0">
        <table id="fuel_fee_child_list_datatable_{{object.pk}}" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_embed datatable_auto_compact sub-table"
            data-datatable-url="{% url 'admin:fuel_pricing_market_documents_associated_fee_sublist_ajax' object.pk %}" data-level="1">
        </table>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="{% static 'js/datatables_price_list_document_embed.js' %}"></script>
