{% load static %}
{{ user_form.media.css }}

<form id="{{ metacontext.form_id }}" method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title"><i class="fas {{ metacontext.icon }}"></i>
      {% autoescape off %}{{ metacontext.title }}{% endautoescape %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    {% if metacontext.text %}
      {% autoescape off %}
        <p>{{ metacontext.text }}</p>
      {% endautoescape %}
    {% endif %}

    <div class="row">
      <div class="col">
        <!-- Left Column -->

        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_details_form.first_name %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_details_form.last_name %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_details_form.abbreviated_name %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_details_form.contact_email %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_details_form.contact_phone %}
        </div>
      </div>

      <div class="col">
        <!-- Right Column -->
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=user_form.username %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=user_form.roles %}
        </div>
        <div class="col-md-12 mb-3">
          {% include 'includes/_form_field.html' with field=person_position_form.job_title %}
        </div>

      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="me-auto">
      {% for button in metacontext.footer_buttons_left %}
        {% include 'includes/_get_button.html' with btn_modal=True modal_validation=True title=button.title url=button.url %}
      {% endfor %}
    </div>

    <button type="button" data-bs-dismiss="modal"
            class="btn {{ metacontext.cancel_button_class|default:'btn-gray-200' }}">
      Close
    </button>
    {% if metacontext.multi_button %}
      <button id="multi_button_1" type="submit" value="False" name="multi_button"
              class="submit-btn btn {{ metacontext.action_button1_class|default:'btn-danger' }}">
        {{ metacontext.action_button1_text|default:'Decline' }}
      </button>
      <button id="multi_button_2" type="submit" value="True" name="multi_button"
              class="submit-btn btn {{ metacontext.action_button2_class|default:'btn-success' }}">
        {{ metacontext.action_button2_text|default:'Confirm' }}
      </button>
    {% elif metacontext.numbered_multi_button %}
      <button id="multi_button_1" type="submit" value="1" name="multi_button"
              class="submit-btn btn {{ metacontext.action_button1_class|default:'btn-danger' }}">
        {{ metacontext.action_button1_text|default:'Decline' }}
      </button>
      <button id="multi_button_2" type="submit" value="2" name="multi_button"
              class="submit-btn btn {{ metacontext.action_button2_class|default:'btn-success' }}">
        {{ metacontext.action_button2_text|default:'Confirm' }}
      </button>
    {% else %}
      {% if not metacontext.hide_action_button and not form.hide_action_button %}
        <button type="submit"
                class="submit-btn btn {{ metacontext.action_button_class|default:'btn-secondary' }}"
          {% if action_button_disabled %} disabled {% endif %}>
          {{ metacontext.action_button_text|default:'Save' }}
        </button>
      {% endif %}
    {% endif %}
  </div>

</form>

<script type="text/javascript" charset="utf8">
</script>

{{ user_form.media.js }}
<script type="text/javascript" charset="utf8" src="{% static 'assets/js/global.js' %}"></script>
