<div class="card border-0 shadow mb-4">
    <div class="card-header p-1 bg-primary text-white {% if not metacontext.country_taxes %}card-header-empty-section{% endif %}">
        <div class="row align-items-center">

            <div class="col">
                <h2 class="fs-6 ps-2 fw-bold mb-0">Country Taxes</h2>
            </div>

            <div class="col text-end">
                <a class="btn btn-sm btn-link p-0 pe-1 card-header-text-action-button
                {% if not perms.pricing.p_create %} disabled {% endif %}"
                type="button" name="button" href="{% url 'admin:tax_rule_create' pk=country.id type='country' %}">
                  Add Country Tax</a>
            </div>

        </div>
    </div>
    {% if metacontext.country_taxes %}
        <div id="country_tax_list" class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_compact_div">
            <div class="table-responsive ajax-datatable-container pt-0">
                <table id="country_tax_list_datatable" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto_compact datatable-clickable"
                    data-datatable-url="{% url 'admin:country_tax_list_ajax' country.pk %}">
                </table>
            </div>
        </div>
        {% endif %}
</div>

