<div class="card border-0 shadow mb-4">
    <div class="card-header p-1 bg-primary text-white {% if not metacontext.fuel_pricing %} card-header-empty-section {% endif %}">
        <div class="row align-items-center">

            <div class="col">
                <h2 class="fs-6 ps-2 fw-bold mb-0">Fuel Pricing</h2>
            </div>

            <div class="col text-end">
                <a class="btn btn-sm btn-link p-0 pe-1 card-header-text-action-button
                {% if not perms.pricing.p_create %} disabled {% endif %}"
                href="{% url 'admin:fuel_pricing_market_documents_pricing_create_page' document.id %}">
                  Add Pricing</a>
            </div>

        </div>
    </div>
    {% if metacontext.fuel_pricing %}
    <div class="{{ document.supplier.details.operational_status.text_color }}">
        <div id="fuel_pricing" class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_div">
            <div class="table-responsive ajax-datatable-container">
                <table id="fuel_pricing_datatable" width="100%" class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto"
                data-datatable-uri="{% url 'admin:fuel_pricing_market_documents_fuel_pricing_list_ajax' document.pk %}">
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

