<div class="card border-0 shadow mb-4">
  <div
    class="card-header p-1 bg-primary text-white {% if not document.locations.exists %}card-header-empty-section{% endif %}">
    <div class="row align-items-center">

      <div class="col">
        <h2 class="fs-6 ps-2 fw-bold mb-0">Billable Organisation(s)</h2>
      </div>

      <div class="col text-end">
        <button class="modal_button_validation bs-modal btn btn-sm btn-link p-0 pe-1 card-header-text-action-button"
                type="button" name="button" data-modal="#modal-lg"
                data-form-url="{% url 'admin:fuel_pricing_market_pld_billable_organisations_edit' document.id %}"
          {% if not perms.pricing.p_update or not document.locations.exists %} disabled {% endif %}>
          Edit Billable Organisations
        </button>
      </div>

    </div>
  </div>
  {% if document.locations.exists %}
    <div class="{{ document.supplier.details.operational_status.text_color }}">
      <div id="fuel_pricing_market_pld_billable_organisations_list"
           class="card {{ metacontext.page_css_class }} compact_datatable datatable_auto_div">
        <div class="table-responsive ajax-datatable-container pt-0">
          <table id="fuel_pricing_market_pld_billable_organisations_list_datatable" width="100%"
                 class="table table-flush table-hover ajax-datatable align-middle nowrap datatable_auto"
                 data-datatable-uri="{% url 'admin:fuel_pricing_market_pld_billable_organisations_list_ajax' document.pk %}">
          </table>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script language="javascript">
</script>
