{% load currency_uom_tags %}

{% if tax %}
  <tr class="px-4 d-flex justify-content-between">
    {% if tax.components|length > 1 %}
      <td>
        <span class="tax-name">{{ name }}</span>
      </td>
      <td class="fw-bolder nowrap">{% as_currency tax.amount results_row.currency %}</td>
    {% else %}
      {% for comp in tax.components %}
        <td>
          {{ comp.notes_icon|safe|default:'' }}
          <span class="tax-name">{{ name }}{% if not comp.inc_in_pricing %},{% endif %}</span>
          <span class="tax-unit">
            {% if not comp.inc_in_pricing %}
              {% include "pricing_pages_includes/_tax_unit.html" with tax_dets=comp %}
            {% else %}
              <small>(Included in fuel price)</small>
            {% endif %}
        </span>
        </td>
        <td class="fw-bolder nowrap">{% as_currency tax.amount results_row.currency %}</td>
      {% endfor %}
    {% endif %}
  </tr>
  {% if tax.components|length > 1 %}
    {% for comp in tax.components %}
      <tr class="px-4 d-flex justify-content-between">
        <td class="ms-4 tax-unit tax-component-unit">
          {{ comp.notes_icon|safe|default:'' }}
          - {% include "pricing_pages_includes/_tax_unit.html" with tax_dets=comp short_desc=True %}</td>
        <td class="tax-component-total">{% as_currency comp.amount results_row.currency %}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endif %}
